
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+CL:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Playwrite+CL:wght@100..400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 600;
    background-color: black;
    color: antiquewhite;
    text-align: center;
}
#header1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 5rem;
    color: antiquewhite;
}
.inputforTxt{
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 2rem;
    height: 30%;
    width: 50%;
    background-color: rgb(57, 57, 57);
    padding: 2rem;
    border-radius: 5px;
}
.areasCal{
    display: flex;
}
#circles{

    margin: auto 10px 10px ;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    background-color: red;
    box-shadow: unset;
    border-color: unset;
}

#square{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 10rem;
    background-color: red;
    
}
.counterbuttons{
    justify-content: center;
    display: flex;
    align-items: center;
}
.btnincdec{
    margin: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    font-size: 2rem;
    background-color: aqua;
    box-shadow: unset !important;
    border: unset !important;
    color: rgb(55, 55, 55);

}
.btnincdec:hover{
cursor: pointer;
background-color: aquamarine;
}
#reset{
    background-color: red;
    color: aliceblue;
    font-size: 1rem;
    height: 2.5rem;
    width: fit-content;
    box-shadow: unset;
    border-radius: 5px;
    border: unset;
}
#reset:hover{
    cursor: pointer;
    background-color: rgb(255, 102, 102);
}

#countertxt{
    font-size: 4rem;
    margin: 1rem;
}

.mathproperties{
    display: flex;
}
.math{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    background-color: rgb(255, 122, 28);
    border-radius: 5px;
    width: 200px;;
}
.math input{
    border: 1px solid rgb(255, 122, 28);
    border-radius: 5px;
    
}
.math label{
    color: black;
    font-size: 12px;
    font-weight: 800;
    width: 100%;
}
.math button{
    border: rgb(193, 81, 0);
    border-radius: 5px;
    padding: 5px;
    margin:5px;
}
.math button:hover{
    background-color: yellow;
    cursor: pointer;
}

.approute{
    width: fit-content;
    height: 100%;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(64, 179, 255, 0.638);
    border-radius: 5px;

}
.approute a{
    text-decoration: none;
   font-weight: 700;
   color: black;
  
}
.approute:hover{
    background-color: rgba(129, 205, 255, 0.638);
    color: rgba(83, 186, 255, 0.638);
}
.pow{
    justify-content: center;
    display: flex;
}
.maininput{
    display: flex;
}
.powinput input{
    width: 50%;
}
.sqrtinput{
    justify-content: center;
    display: flex;
}
.sqrtinput input{
    margin: 10;
    height: 80%;
    width: 50%;
    font-size: 32px;
}

.foodContainer{
    margin: 20px;
    display: flex;
    flex-direction: column;
    
    margin-left: auto;
    margin-right: auto;
    background-image: url(./src/Foodiesbg.jpg);
    height: 100%;
    width: 90%;
    border-radius: 5px;
    backdrop-filter: blur(10px);

}
.foodContainer::before{
    content: "";
    position: absolute;
    width : 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    filter        : blur(25px);
    -moz-filter   : blur(25px);
    -webkit-filter: blur(25px);
    -o-filter     : blur(25px);
    opacity: 0.10;

}
.foodType{
    width: 100%;
    
}
.foodLables{
background-color: rgba(0, 0, 0, 0.608);
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.foodLables label{
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}
.foodLables label .foodNo{
    background-color: rgb(255, 200, 0);
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    box-shadow: black 1px 2px 15px;
    color: black;
}
.foodInput input{
    width: auto;
    height: auto;
    margin: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
}
.foodPrice{
    font-size: 10px;
}
#orderFood{
    margin: 5px;
    height: 40px;
    background-color:rgb(255, 200, 0) ;
    font-size: 16px;
    font-weight: 800;
    border: unset;
}
#orderFood:hover{
    background-color:rgb(255, 222, 101) ;
    cursor: pointer;
}
.container{
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.vitoBanner{
    background-image: url(./src/Vitopizza.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

   
}
.vitoBanner h1{
    font-family: "Roboto Mono", monospace;
    font-size: 10rem;
    margin-bottom: 2px;
    color:#fff3ed ;
    text-shadow: #242424 5px 5px 10px;
}
.vitoBanner h5{
font-family:"Playwrite CL", cursive ;
font-size: 3rem;
margin: 0px;
text-shadow: rgb(33, 207, 255) 2px 3px 5px;
text-shadow: rgb(32, 32, 32) 2px 3px 5px;
color: #fff3ed;
}
.pizzaSize{
    margin-top: 0px;
    background-color: #ffffff;
    color: #242424;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.pizzaSize h3{
    font-size: 32px;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.sizeRadio{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerC1{
    background-color: red;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    
}
.innerC2{
    background-color: red;
    width: 100px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    
}
.innerC3{
    background-color: red;
    width: 120px;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    
}
.smallcircle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.toppingSelect{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.checkContainer{
    margin: 10px;
    padding: 10px;
}
.Quantitrybtn{
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.Quantitrybtn button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
    background-color: red;
    font-size: 32px;
    height: 35px;
    width: 35px;
    margin: 0;
    color: #fff3ed;
}
.Quantitrybtn input{
    height: 30px ;
    width: 40px;
    border:1px solid red;
    font-size: 16px;
}
.Quantitrybtn button:hover{
    background-color: rgb(255, 116, 116);
    cursor: pointer;
}
#increBtn{
    border-radius: 0px 5px 5px 0px;
}
#decreBtn{
    border-radius: 5px 0px 0px 5px;
}

#SubmitOrderBtn{
    color: #fff3ed;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    background-color: red;
    border: unset;
    box-shadow: #2424247a 1px 1px 5px;
    border-radius: 5px;
}
#SubmitOrderBtn:hover{
    background-color: rgb(255, 116, 116);
    cursor: pointer;
}
.pizzaSize{
    padding: 10px;
}

.pizzaSize h1{

    font-size: 5rem;
    margin: 0;
    color: red;
}

.checkContainer input{
transform: scale(2);
background: red;
}
.checkContainer input:hover{
    color: red;
    cursor: pointer;
    border: 2px solid red;
}
.star{
    color: red;
    font-weight: 900;
}
.pizzaDis{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px;
}

.sizeRadio input{
    transform: scale(2.5);
}
.lableDiv{
    display: flex;
    justify-content: center;
}
.successMsg{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.successMsg label{
font-size: 16px;
font-weight: 800;
color: green;
}
#emptyFill2,#emptyFill1,#errorChoice{
    font-size: 16px;
    text-align: center;
    color: red;
}

.checkContainer label:hover{
    color: #696969;
    cursor: pointer;
}
.pizzaDis:hover{
    color: #696969;
    cursor: pointer;
}
.container1{
padding: 10rem;

}
.avatarContainer{
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
background-color: #d6d6d6;
    width: 50%;
    height: 100%;
    color: #242424;
    border-radius:5px ;
    box-shadow: #ff0000 -1px 1px 50px;
}
.avatarContainer input{
    border: 1px solid red;
    padding: 5px;
    color: red;
    margin: 5px;
    border-radius: 5px;
    
}

#AvatarBtn{
    height: 100px;
    width: 100px;
    margin: 2rem;
    border-radius: 100%;
    border: unset;
    font-size: 16px;
    font-weight: 900;
    box-shadow: #24242478 1px 0.5px 25px;
    background-color: #ff3535;
    color: #cfcfcf;
}
#AvatarBtn:hover{
    box-shadow: #323232 1px 0.5px 25px;
    background-color: #ff0000;
    color: #ffffff;
    cursor: pointer;
}

.outputAvatar h1{
    font-size: 48px;
    font-family: "Platypi", serif;
    margin: 1.5rem;
    
}

.outputAvatar{
   
    margin-left: auto;
    margin-right: auto;
   
    width: fit-content;
    height: fit-content;
    background-color: #00c3ff;
    border-radius: 5px;
    color: #fff3ed;
    box-shadow: inset white 1px 2px 10px;
    box-shadow: #b9b9b9 1px 1px 10px;
}

#avatarName{
    font-size: 20px;
    margin: 0.8rem;
    
}
.slicer{
    margin-left: auto;
    margin-right: auto;
    background-color: #92ffeb;
    width: 50%;
    padding: 2.5rem;
    border-radius: 5px;
    color: #004b62;
}
#inputslicer{
    margin: 1rem;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #00c3ff;
}
.length{
margin: 1rem;
}
.length input{
    width: 80px;
    border-radius: 5px;
    border: 2px solid #00c3ff;

}
#sliceSubmit{
    border-radius: 5px;
    border: 2px solid #00c3ff;
    font-size: 16px;
    padding: 0.5rem;
    color: #00c3ff;
    background-color: #ffffff;
    font-weight: 900;
}
#sliceSubmit:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}
#numberguess{
    background-color: #aaebff ;
}
.guessBox{
    width: 60%;
    min-height: 70vh;
    background-color: #008b79;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius:15px ;
    box-shadow: #000000 1px 1px 5px;
}
#GuessOutput{
    font-size: 62px;
    font-family: monospace;
}
.guessoutCon{
    width: 100px;
    height: 100px;
    background-color: red;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border:4px solid rgb(255, 56, 56);
    
}
.guessoutConTrue{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
   
    
}
#GuessOutputTrue{
    font-size: 6rem;
    margin: 0;
}
#guessinput{
    margin:10px;
    width: 50px;
    height: 50px;
    font-size: 32px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid red;
    
}

#guessBtn{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background-color:#008b79 ;
}
#guessBtn:hover{
    border: 2px solid rgb(67, 255, 208);
    color: rgb(67, 255, 208);
    background-color:#009783 ;
    cursor: pointer;
}
#WinnerText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 217, 0);
    font-size: 32px;
    margin: 20px;
}
#TryAgain{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 102, 0);
    font-size: 24px;
    margin: 20px;
}