*{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.Container{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: flex;
    justify-content: center;
}
.diceContainer{
    margin: 25px;
    background-color: antiquewhite;
    padding: 25px;
    border-radius: 5px;
}
.diceContainer h1{
    font-size: 64px;
    color: rgb(27, 122, 67);
    margin: 25px 25px 25px 25px ;
}
.diceContainer input[type=number]{
    border-radius: 5px;
    font-size: 24px;
    border: 2px solid rgb(27, 122, 67);
}
.diceContainer input[type=button]{
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(27, 122, 67);
    background: rgb(216, 255, 232);
    color: rgb(27, 122, 67);
}
.diceContainer input[type=button]:hover{
    background: rgb(117, 255, 175);
    cursor: pointer;
}
.diceContainer label{
    font-size: 18px;
    color: rgb(27, 122, 67);
}
.inputContainer{
    margin-left: auto;
    margin-right: auto;
align-items: center;
    display: flex;
    justify-content: center;
}
#diceImg{
    justify-content: center;
    display: flex;
}
#diceImg img{
height: 50px;
border-radius: 5px;

}