<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="diceGame.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="DiceConatiner">
            <h1>Roll Your Dice!</h1>
            <input type="button" value="Roll!" onclick="diceRoll()">
            <div class="diceImg">
                <div id="dice1"></div>
                <div id="dice2"></div>
            </div>
            <div id="points">Points: 0</div>
            <div id="warning"></div>
        </div>

    </div>
    <script src="diceGame.js"></script>
</body>
</html>