<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../style.css">
    <title>Avatar

    </title>
</head>
<body>
    <div class="container1">
        <div class="avatarContainer">
            <h4>Type "first name" and "Last name" for Avatar</h4>
            <div class="avatarInput">
                <input type="text" id="firstName" placeholder="First Name">
                <input type="text" id="lastName" placeholder="Last Name">
            </div>
           <button id="AvatarBtn">Generate</button>
           <p id="dialogbox"></p>
           <div class="outputAvatarContainer">
            <div class="outputAvatar">
                <h1 id="avatarAlp"></h1>
            </div>
            <h4 id="avatarName"></h4>
            
           </div>
           
        </div>
    
    </div>
    <script src="avatar.js"></script>
</body>
</html>