<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="inputforTxt">
        <h2>Counter Program</h2>
        <div class="counterbox">
            <h3 id="countertxt">0</h3>
            <div class="counterbuttons">
                <button id="dec" class="btnincdec">-</button>
                <button id="reset">Reset</button>
                <button id="inc" class="btnincdec">+</button>
            </div>
        </div>
    </div>

    <script src="counter.js"></script>
</body>
</html>

