<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Vito Pizza</title>
</head>
<body>
    <div class="container">
        <div class="vitoBanner">
            <h1>Vito Pizza</h1>
            <h5>Mama Mia...</h5>
        </div>
        <div class="menu">
            <div class="pizzaSize">
                <h3>Grab your pizzas!</h3>
                
               <h1>For Rs.1200.00 </h1>
               
            </div>
            
            <div class="pizzaSize">
                <h3>Grab your Favourit Toppings</h3>

                <div class="toppingSelect">
                    <div class="checkContainer">
                        <input type="checkbox" id="checkCheese">
                        <label for="checkCheese">Cheese | Rs.150</label>
                    </div>
                    <div class="checkContainer">
                        <input type="checkbox" id="checkOlive">
                        <label for="checkCheese">Olive Slice | Rs.250</label>
                    </div>
                    <div class="checkContainer">
                        <input type="checkbox" id="checkPeporoni">
                        <label for="checkCheese">Peporoni | Rs.250</label>
                    </div>
                    <div class="checkContainer">
                        <input type="checkbox" id="checkMeat">
                        <label for="checkCheese">All Meat | Rs.450</label>
                    </div>
                    <div class="checkContainer">
                        <input type="checkbox" id="checkBpork">
                        <label for="checkCheese">Sri Lankan Black pork | Rs.600</label>
                    </div>
                </div>
            </div>
            <div class="pizzaSize">
                <h4>Quantity</h4>
                <label id="emptyFill1"></label>
                <div class="Quantitrybtn">
                    <button id="decreBtn">
                        -
                    </button>
                    <input type="text" id="quantity">
                    
                    <button id="increBtn">
                        +
                    </button>
                </div>
                
                <button id="SubmitOrderBtn">Checkout</button>

                <div><label id="emptyFill2"></label>
                <label id="VitoDescription"></label>
                <label id="Vitoquantity"></label>
                <label id="VitoPrice"></label>
            </div>
                
            </div>
            
            
        </div>
    </div>

    <script src="vito.js"></script>
    
</body>
</html>